
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#tab2-bar {
  border-bottom: 1px solid threedshadow;
}

.tab2 {
    -moz-appearance: tab;
    -moz-box-align: center;
    min-width: 10em;
    max-width: 15em;
}

.tab2-label {
    -moz-box-flex: 100;
    margin-left: 4pt;
    padding-top: 1pt;
}

#tab2-bar[show_icon=true] .tab2-label {
  /* minimum padding for icon not to overlap selected-tab marker */
  padding-top: 2pt;
}

.tab2-index {
    padding: 0pt 2pt 0pt 3pt;
    font-weight: 900;
    text-align: center;
}

.tab2-icon {
  /* don't show an empty space if the buffer has no icon */
  display: none;
}
.tab2-icon[src] {
  display: inherit;
  width: 16px;
  height: 16px;
  -moz-margin-start: 4pt;
  -moz-margin-end: 3pt;
}

.tab2-label-box {
  -moz-box-flex: 1;
  overflow: hidden;
  -moz-box-align: center;
}

.tab2-label-box {
  -moz-box-flex: 1;
  overflow: hidden;
  -moz-box-align: center;
}

.tab2-close-button {
  -moz-appearance: none !important;
  list-style-image: url("chrome://global/skin/icons/close.png") !important;
  -moz-image-region: rect(0px, 14px, 14px, 0px);
  border: none !important;
}

.tab2[selected="false"] .tab2-close-button {
  display: none;
}

.tab2-close-button:hover {
  -moz-image-region: rect(0px, 28px, 14px, 14px);
}

.tab2-close-button:active:hover {
  -moz-image-region: rect(0px, 42px, 14px, 28px);
}
